body { 
    padding-top: 95px; 
}

.box {
	margin: 0 0 20px 0;
    width: 46.5%;
	border: 1px solid #BBB;
    border-radius: 3px;
}

.heading-box {
	background: #f3f3f3;
    border-bottom: #BBB solid 1px;
    font-size: 13px;
    font-weight: 700;
    margin: 0 auto;
    padding: 7px 0;
    text-align: center;
    text-transform: uppercase;
}

.p-box {
	font-weight: 700;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
}

